<p class="footer-text">
<!-- We can use document attributes: -->
<p style="text-align:center; background-color: rgb(64, 64, 64); color: rgb(160, 160, 160);">{AppName} - {AppDesc}, V{AppVersion}</p>
</p>
